
body {
background-image: url("background.jpg");
color:white;

}


h1 {
	color:#FFCC00;
	background-image:url("H1Image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: #000000;
	padding:150px;
	margin: 5px;
	text-align: left;
}

#nav a {
	text-decoration: none;
	font-size: 100%;
}
#nav a:link {color: #FFFFFF; }
#nav a:visited { color: #FFFFFF; }
#nav a:hover { color: #FFCC00; }

#nav {
	text-align: center;
	margin: 10px;
}
p {
	position: relative;
	font-size: 1em;
	left: 5px;
	font-family:  serif;
}

main { 
	   position: relative;
	   margin: 100px;
	   margin-left: auto;
	   margin-right: auto;
	   margin-bottom: 10px;
	   margin-top: 10px;
	   width: 50%;
       border-width: 5px;
	   border-style: solid;
	   border-color: white;
	   background-color: #000000;
	   
}

footer {text-align: center;
        
		color: #FFCC00;
}

#date{
	text-align:right;
	margin-right: 10px;
	color:#FFCC00;
}
#authors {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 10px;
}
#box1 {
	
	text-indent: 5ch;
	margin-left: 0px;
	padding: 5px ;
	font-family: serif;
}
#box2 {
	
	text-indent: 5ch;
	margin-left: 0px;
	padding: 5px ;
	
}
#codebox {
	
	text-indent: 5ch;
	margin: 0px;
	padding: 5px;
	}

#codeimage {
	border-radius: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#h2code {
	text-align: center;
	
	color: #FFCC00;
}
#h2history {
	text-align: center;
	color: #FFCC00;
}
h3 {
	text-align: center;
	color: #FFCC00;
}
.simple {
	color: #FFCC00;
	font-size: 17px;
}
.why {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #FFCC00;
	padding: 5px;
	margin: 0px;
	}
.whypythonbox {
	border-style: none;
	margin-left: auto;
	margin-right:auto;
	width: 70%;
	
}

