
body {
background-image: url("backgroundPython.jpg");
color:white;
background-repeat: no-repeat;
background-size: cover;

}


h1 {
	color:#FFCC00;
	background-image:url("H1Image.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	background-color: #000000;
	padding:150px;
	margin: 5px;
	text-align: left;
}

#nav a {
	text-decoration: none;
	font-size: 100%;
}
#nav a:link {color: #FFFFFF; }
#nav a:visited { color: #FFFFFF; }
#nav a:hover { color: #3399FF; }

#nav {
	text-align: center;
	margin: 10px;
}

a:link {color: #FFFFFF; }
a:visited {color: #3399FF; }
a:hover { color: #FFCC00; }


p {
	position: relative;
	font-size: 1em;
	left: 5px;
	font-family:  serif;
}

main { 
	   position: relative;
	   
	   margin-left: auto;
	   margin-right: auto;
	   margin-bottom: 10px;
	   margin-top: 10px;
	   width: 50%;
       border-width: 5px;
	   border-style: solid;
	   border-color: white;
	   background-color: #000000;
	   
}




#authors {
	font-size: 0.8em;
	text-align: center;
	padding: 5px;
	border-top-style: solid;
	border-top-width: 5px;
	background-color: #333333;
	color: #FFFFFF;
	}

img {	 
	
	border: solid white 1px;
	padding: 7px;	
	margin: 0px 15px 15px 15px;
	float: left;
	word-wrap: break-word;
	margin-right: 10px;
	margin-bottom: 5px;
}
#box2 {
	
	text-indent: 5ch;
	margin-left: 0px;
	padding: 5px ;
	
}
#codeimage {
	border-radius: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#h2code {
	text-align: center;
	margin: 0;
	color: #FFCC00;
}

h2 {
	text-align: center;
	color: #FFCC00;
}
#h3code {
	text-align: center;
	margin: 0;
	color: #FFCC00;
}

h3 {
	text-align: center;
	color: #FFCC00;
}

iframe {
	margin-left: 50px;
	display: block;
	margin: 0 auto;	
}

#video {
	border-style: solid;
	border-width:1px;
	border-radius: 10px;
	margin: auto;
	width: 80%;	
}

dl.description {
	margin-left: 15px;
	text-indent: 5ch;
	
}


	





