
body {
background-image: url("background.jpg");
color:white;

}


h1 {
	color:#FFCC00;
	background-image:url("H1Image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: #000000;
	padding:150px;
	margin: 5px;
	text-align: left;
}

#nav a {
	text-decoration: none;
	font-size: 100%;
}
#nav a:link {color: #FFFFFF; }
#nav a:visited { color: #FFFFFF; }
#nav a:hover { color: #FFCC00; }

#nav {
	text-align: center;
	margin: 10px;
}
p {
	position: relative;
	font-size: 1em;
	left: 5px;
	font-family:  serif;
}

main { 
	   position: relative;
	   margin: 100px;
	   margin-left: auto;
	   margin-right: auto;
	   margin-bottom: 10px;
	   margin-top: 10px;
	   width: 50%;
       border-width: 5px;
	   border-style: solid;
	   border-color: white;
	   background-color: #000000;
	   
}

footer {text-align: center;
        
		color: #FFCC00;
}

#date{
	text-align:right;
	margin-right: 10px;
	color:#FFCC00;
}
#authors {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 10px;
}
#box1 {
	
	text-indent: 5ch;
	margin-left: 0px;
	padding: 5px ;
	font-family: serif;
}
#box2 {
	
	text-indent: 5ch;
	margin-left: 0px;
	padding: 5px ;
	
}
#codebox {
	
	text-indent: 5ch;
	margin: 0px;
	padding: 5px;
	}

#codeimage {
	border-radius: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#h2code {
	text-align: center;
	
	color: #FFCC00;
}
#h2history {
	text-align: center;
	color: #FFCC00;
}
h3 {
	text-align: center;
	color: #FFCC00;
}
.simple {
	color: #FFCC00;
	font-size: 17px;
}
.why {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #FFCC00;
	padding: 5px;
	margin: 0px;
	}
.whypythonbox {
	border-style: none;
	margin-left: auto;
	margin-right:auto;
	width: 70%;
	
}
.summary {
	margin-left: 5px;
	padding: 5px;
	text-indent: 5ch;
	margin-left: auto;
	margin-right:auto;
	width: 80%;
}
.column {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
img {
	margin-left: 100px;
	margin-right: 100px;
	width: 70%;
	
}



/*
essential styles:
these make the slideshow work



#slides{
	position: relative;
	height: 150px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	list-style-type: none;
	border-style: none;
	
}

.slide{
	position: absolute;
	left: 40px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	width: 120%;
	height: 150%;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}




non-essential styles:
just for appearance; change whatever you want




.slide:nth-of-type(1){
	background-image: url("pythonexample1.png");
}
.slide:nth-of-type(2){
	background-image: url("pythonexample2.jpg");
}
.slide:nth-of-type(3){
	background-image: url("pythonexample3.png");
}
*/


