p.powerOfPython {
	margin: auto;
	text-indent: ch;
	width: 80%;
}
img.applicationPic {
	border: solid white 1px;
	padding: 10px;	
	margin: 15px;
	float: right;
	word-wrap: break-word;
	margin-right: 10px;
	margin-bottom: 5px;
	
}